@page
@model IndexModel
@{
    ViewData["Title"] = "Salles";
}

<div class="text-center">
    <h1 class="display-4">Liste des salles</h1>
    <ul id="list-salles"></ul>
</div>

@section Scripts {
<script src="~/js/api.js"></script>
}